**.o
**.a
**.plist

as6502/as6502
dis6502/dis6502
ld6502/ld6502
v6502/v6502

docs/ISA.dox
docs/html/

kmapgen/kmap.html
kmapgen/kmapgen

tests/compiledTestsExecutable
tests/snake.tmp.crc
tests/snake2.s
tests/textmode_test.tmp.crc
tests/wozmon.tmp.crc
tests/snake3.tmp.crc
